.cardContainer{
    width: 100%;
    display: grid;                                                
grid-auto-rows: 50px;                                       
grid-gap: 10px;    
height: 100%;
overflow-y: scroll;                                           
@media screen and (min-width:450px) {
grid-template-columns: repeat(2, 1fr);  
}
@media screen and (min-width:760px) {
grid-template-columns: repeat(4, 1fr);  
}
@media screen and (min-width:1020px) {
grid-template-columns: repeat(5, 1fr);  
}
@media screen and (min-width:1200px) {
grid-template-columns: repeat(6, 1fr);  
}
}