
.container{
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    .title{
        background: -webkit-linear-gradient(#bc012e, #fab75a);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Courier New', Courier, monospace;
        font-size: 4rem;
        margin:0.5rem 0 2rem 0;
        text-align: center;
    }

    .inputContent{
        height: 3rem;
        width: min(30rem, 80%);
        margin:0 auto 2rem auto;
        border:1px dashed rgba(0,0,0,0.3);
        border-radius: 10px;
        color: rgba(0,0,0,0.8);
        font-weight: 500;
        font-size: 1.5rem;
        padding: 0 0.5rem;
        outline: none;
    }

}