
.container{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    .title{
        background: -webkit-linear-gradient(#bc012e, #fab75a);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Courier New', Courier, monospace;
        font-size: 4rem;
        margin:0.5rem 0 2rem 0;
        text-align: center;
    }
    
}